body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}

img {
    display: block;
}
ul, ol {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
   }
   h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    
   }

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;

}
.container-header {
    display: flex;
    align-items: center;
}
.header-nav {
    margin-right: auto;
    display: flex;
    align-items: center;
}
.header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    
}
.header-nav-link {
    display: block;
    padding: 24px 0;
    text-decoration: none;
}

.logo-header {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.a .logo-header {
    margin-right: 76px;
    padding: 24px 0;
    
}
.studio-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    

}
.a .logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}
.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;

    display: inline-block;
    margin-bottom: 16px;
}
.studio-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    color: #f4f4fd;

}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}


.header-nav .header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
   }

.header-nav .header-nav-link:active {
    color:#404bbf;
   }

.header-nav .header-nav-link:hover, .header-nav .header-nav-link:focus {
    color: #404bbf;
   }
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
    font-style: normal;
    
    
}
.contacts .contacts-list {
    font-style: normal;
    
    
}
.contacts-list-link {
    display: block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    text-decoration: none;
    }

.contacts-list-link:hover ,.contacts-list-link:focus {
    color:#404bbf; 
}
.page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    background-color: #2e2f42;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
   }
.button-section {
    background-color: #2e2f42;
    
    align-items: center;
    padding-top: 188px;
    padding-bottom: 292px;}
    


.order-service {
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    text-align: center;

   display: block;
    
    margin-left: auto;
    margin-right: auto;
    height: 56px;
    padding: 16px 32px;
   border-radius: 4px;
   min-width: 169px;
   border: none;
}
.order-service:hover {
    background-color: #404BBF;
}
.order-service:active  {
    background-color: #404BBF;
}
.order-service:focus {
    background-color:#404BBF;
}
.features-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
   }
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features {
    padding: 120px 0;
    
}
.features-list {
    display: flex;
    gap: 24px;
    }

.features-item {
  
    width: calc((100% - 72px) / 4);
    

}

.features-list .title-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-list .features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-team {
    background-color: #f4f4fd;

    padding: 120px 0;

}
.team-list {
    display: flex;
    gap: 24px;
}
.our-team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}
.team-list .team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.team-list-item {background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-list .team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.team-box {
    padding: 32px 0;
}

/*portfolio cards*/
.portfolio-section {
    padding: 120px 0;
}
.portfolio-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align:center;
color: #2e2f42;
margin-bottom: 72px;
}
.portfolio-box {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    }
.apps {
    margin-bottom: 8px;
    }
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    }

.portfolio-list .apps {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-list .apps-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    }

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}
.button-section {
    background-color: #2e2f42;
    padding: 188px 0;
}